body {
    padding: 0;
    margin: 0;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(clock.jpg);
    background-position: center;
    background-size: auto;
  }
  
  h1 {
    color: #2759c5; 
  }

  header {
    width:100%;
    padding-top:30px;
    padding-bottom:30px;
    background-color: white;
    text-align: center;
    background: rgb(170, 223, 170);
    margin-bottom: 100px;
    width: 100%;

    }
    
  .container {
    background-color: #39998e;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .edit {
    width: 100%;
    max-width: 200%;
    font-size: 20px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.radio-btn {
    text-align: left;
    display: inline;
   
}

  button {
    margin-top: 20px;
    font-size: 20px;
    padding: 9px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 4px;
  }
  
  button:hover, button:focus {
    box-shadow: 0 4px 4px rgba(0,0,0,.5);
    transition: all 200ms ease;
    color: black;
  }
  